.Container {
    padding: 80px;
  }
  
  .InfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .MovieDetailInfoImage {
    width: 330px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    opacity: 1 !important;
  }
  .MovieInfoContainer{
    border-radius: 10px;
    padding-top: 40px;
    color:white;
  }
  
  .MovieInfo {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  @media (max-width: 768px) {
    .InfoContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .MovieDetailInfoImage {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      
    }
  }

.badge{
    margin: 3px;
  }

.MovieDetailInfo{
  padding-top: 10px;
  margin-bottom: 2px;
  padding-left: 20px;
  background-color: rgb(47, 47, 47);
  color:white;
  opacity: 0.6;
  border-radius: 10px;
}

.MainPoster{
  background-size:cover ;
}

.Container{
  opacity: 0.8;
  background-color: transparent; /* 배경색을 투명하게 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.OverviewContainer{
  border-bottom: solid 2px white;
  padding: 15px;
}

@media (max-width:768px) {
  .MovieGenreContainer{
    padding: 10px;
    margin-bottom: 10px;
  }
  
}